<nav>
    <ul class="pagination justify-content-center">
        <li class="page-item" id="start"><a class="page-link" href="#!" aria-label="Previous"><span aria-hidden="true"><i class="bi bi-chevron-double-left"></i></span></a></li>
        <li class="page-item" id="back"><a class="page-link" href="#!" aria-label="Previous"><span aria-hidden="true"><i class="bi bi-chevron-left"></i></span></a></li>
        <li class="page-item d-none" id="p1"><a class="page-link" href="#!"></a></li>
        <li class="page-item d-none" id="p2"><a class="page-link" href="#!"></a></li>
        <li class="page-item d-none" id="p3"><a class="page-link" href="#!"></a></li>
        <li class="page-item d-none" id="p4"><a class="page-link" href="#!"></a></li>
        <li class="page-item d-none" id="p5"><a class="page-link" href="#!"></a></li>
        <li class="page-item" id="forward"><a class="page-link" href="#!" aria-label="Next"><span aria-hidden="true"><i class="bi bi-chevron-right"></i></span></a></li>
        <li class="page-item" id="end"><a class="page-link" href="#!" aria-label="Next"><span aria-hidden="true"><i class="bi bi-chevron-double-right"></i></span></a></li>
    </ul>
</nav>

<!--
<nav>
    <ul class="pagination justify-content-center pagination-lg">
        <li class="page-item" id="start"><a calss="page-link" href="#!"><i class="bi bi-chevron-double-left"></i></a></li>
        <li class="page-item" id="back"><a calss="page-link" href="#!"><i class="bi bi-chevron-left"></i></a></li>
        <li class="page-item invisible" id="p1"><a calss="page-link" href="#!"></a></li>
        <li class="page-item invisible" id="p2"><a calss="page-link" href="#!"></a></li>
        <li class="page-item invisible" id="p3"><a calss="page-link" href="#!"></a></li>
        <li class="page-item invisible" id="p4"><a calss="page-link" href="#!"></a></li>
        <li class="page-item invisible" id="p5"><a calss="page-link" href="#!"></a></li>
        <li class="page-item" id="forward"><a calss="page-link" href="#!"><i class="bi bi-chevron-right"></i></a></li>
        <li class="page-item" id="end"><a calss="page-link" href="#!"><i class="bi bi-chevron-double-right"></i></a></li>
    </ul>
</nav>

<div style="display:flex;width:100%;justify-content:center">
    <div class="paging-area">
        <div class="page-ctl" id="start"><i class="bi bi-chevron-double-left"></i></div>
        <div class="page-ctl" id="back"><i class="bi bi-chevron-left"></i></div>
        <div class="page-ctl invisible" id="p1"></div>
        <div class="page-ctl invisible" id="p2"></div>
        <div class="page-ctl invisible" id="p3"></div>
        <div class="page-ctl invisible" id="p4"></div>
        <div class="page-ctl invisible" id="p5"></div>
        <div class="page-ctl" id="forward"><i class="bi bi-chevron-right"></i></div>
        <div class="page-ctl" id="end"><i class="bi bi-chevron-double-right"></i></div>
    </div>
</div>
-->