@page
@model ResetPasswordModel
@using ElsWebApp.Services

<img src="@ConstService.PathInfo.PATH_SYSTEM_LOGO" style="height:60px; object-fit:cover;" />
<div class="row block-center">
    <div class="col-12 col-md-6 col-xl-4">
        <form method="post">
            <h3>パスワード変更</h3>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div>ユーザID</div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label">メールアドレス</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div>パスワード</div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please enter your password." />
                <label asp-for="Input.Password" class="form-label">大文字含む半角英数記号10文字以上</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div>パスワード(確認用)</div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your password." />
                <label asp-for="Input.ConfirmPassword" class="form-label">大文字含む半角英数記号10文字以上</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <input asp-for="Input.Role" type="hidden" />
            <button type="submit" class="w-100 btn btn-lg btn-primary">変更</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
