body {
}

.tab-content {
    overflow-y: auto;
    border-left: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
}

.status-icon {
    color: red;
    font-size: 1.5rem;
}

.explaine-text {
    color: red;
}